body{
   background-image: url(image/image2.jpg);
background-repeat: no-repeat;
padding: 20px;

}
h5{
   font-family: 'Rubik', sans-serif;
}

h1{
   color: rgb(67, 66, 66);
   font-family: 'Tilt Prism', cursive;
   
   

}
button{
   height: 50px;
   width: 200px;
   border-radius: 20px;
  font-size: 20px;
   font-family: 'Times New Roman', Times, serif;
}
 button:hover{
   background-color: rgb(83, 75, 75); 
   color: white;
   cursor: pointer;
   
 }
 button:active{
   background-color: rgb(3, 59, 82);
   color: white;
 }
 #para{
   width: 600px;
   height: 200px;
   border: 2px solid black;
   border-radius: 10px;
   background-color: rgb(59, 81, 90);
   color: rgb(221, 224, 226);
   padding: 10px;
   font-family: 'Kalam', cursive;
   font-size: 20px;
 }
 h3{
   font-size: 25px;
   color: rgb(59, 81, 90);
 }